if carModels.length > 0
    section(data-testid="car-model-section" class="mb-8")
        h2(class="text-2xl mb-2") Car Models
        p(class="mb-4") This image is connected to the following #{carModels.length} car models:
        ul
            each carModel in carModels
                li(class="mb-4 bg-zinc-100 border-1 border-zinc-200 rounded-md" data-testid=`car-model-${carModel.id}`)
                    div(class="grid grid-flow-col grid-cols-4 gap-4")
                        - thumbnail = relationships.carModels.thumbnails.get(carModel.id)
                        include ../../nodes/thumbnail
                        div(class="col-span-3")
                            a(class="inline-block font-bold text-lg my-2 underline hover:no-underline" href=`/car-models/${carModel.id}`)
                                span(aria-label="name") #{carModel.name}
                            if carModel.internal_code
                                span(aria-label="internal code")  (#{carModel.internal_code})
                            - item = carModel
                            - nodeProperties = relationships.car_models.node_properties
                            include ../../nodes/primary-properties
