extends ../../layouts/base/layout

block main
    - item = node.data.fields

    div(class="grid md:grid-cols-8 gap-6 items-start")
        div(class=`${['image', 'video'].includes(node.data.type) ? 'col-span-5' : 'col-span-4'}` data-testid="main-area-primary")
            div(class="mb-6 p-4 bg-zinc-100 rounded-2xl outline-2 outline-zinc-100 border-4 border-white")
                hgroup(class="p-4 mb-4 border-y-3 border-lime-500 rounded-lg")
                    h1(class=`mb-1 text-2xl md:text-3xl`)
                        span(class="float-right text-4xl md:text-5xl select-none") #{icon(node.data.type.replaceAll('_', '-'))}
                        span #{node.title}
                    p(class="text-sm") #{node.sub_title}

                include ../shared/lead-image-section
                include ../shared/lead-video-section
                - leadImage = node.main_image
                - leadVideo = node.main_video
                - connectedImages = relationships.images?.items || []
                - connectedVideos = relationships.videos?.items || []
                if node.data.type === 'video'
                    +lead-video-section(node.data)
                else if node.data.type === 'image'
                    +lead-image-section(node.data)
                else if leadImage
                    +lead-image-section(leadImage)
                else if leadVideo
                    +lead-image-section(leadVideo)
                else if connectedImages.length > 0
                    +lead-image-section(connectedImages[0])
                else if connectedVideos.length > 0
                    +lead-image-section(connectedVideos[0])
                else
                    +lead-image-section()

            include ../shared/fact-sheet

        div(class=`${['image', 'video'].includes(node.data.type) ? 'col-span-3' : 'col-span-4'}` data-testid="main-area-secondary")
            block relationships
