li(aria-label="image" class="mb-4 bg-stone-100 rounded-2xl inset-shadow-sm border-2 border-gray-300" data-testid=`image-${item.data.id}`)
    div(class="grid grid-flow-col grid-cols-3 gap-4 h-full")
        if item.data.image_url_s
            img(src=`${item.data.image_url_s}` class="col-span-1 h-full object-cover rounded-l-2xl")
        else
            div(class="col-span-1 h-full object-cover rounded-l-2xl content-center text-center")
        div(class="col-span-2")
            a(class="inline-block font-bold text-xl mt-3 underline" href=`/images/${item.data.id}`)
                span(aria-label="name") #{item.data.name}
            ul
                li(aria-label="creator" class="mt-4") Creator: #{item.data.creator}
                li(aria-label="image provider" class="") Image Provider: #{item.data.image_provider}
                li(aria-label="license" class="mb-4") License: #{item.data.license}
