if brand
    section(aria-label="brand")
        h2(class="text-2xl mb-4 text-center") Brand

        div(class="grid grid-flow-col grid-cols-4 gap-4" data-testid=`brand-${brand.id}`)
            div(class="col-span-1 p-4 border-2 bg-orange-50")
                div(class="aspect-16/9") IMG
            div(class="col-span-3")
                a(class="inline-block font-bold text-xl mt-3 underline" href=`/brands/${brand.id}`)
                    span(aria-label="name") #{brand.name}
                ul
                    li(aria-label="full name" class="inline-block text-gray-700") #{brand.full_name}
                    li(aria-label="founded" class="mt-4") Founded: #{brand.founded}
                    li(aria-label="defunct" class="mb-4") Defunct: #{brand.defunct}
