if brand
    section(data-testid="brand-section")
        h2(class="text-2xl mb-2") Brand
        p(class="mb-4") The car model #[b #{carModel.name}] belongs to the following brand:

        div(class="mb-4 bg-stone-100 rounded-md inset-shadow-sm" data-testid=`car-model-${item.id}`)
            div(class="grid grid-flow-col grid-cols-4 gap-4" data-testid=`brand-${brand.id}`)
                include ../nodes/thumbnail
                div(class="col-span-3")
                    a(class="inline-block font-bold text-xl mt-3 underline" href=`/brands/${brand.id}`)
                        span(aria-label="name") #{brand.name}
                    - item = brand
                    - primaryProperties = relationships.brand.primary_properties
                    include ../nodes/primary-properties
