if successor
    section(data-testid="successor-section" class="mb-8")
        h2(class="text-2xl mb-2") Successor
        p(class="mb-4") The #[b #{carModel.name}] was succeeded by the following car model:

        div(class="mb-4 bg-stone-100 rounded-md inset-shadow-sm" data-testid=`car-model-${item.id}`)
            div(class="grid grid-flow-col grid-cols-4 gap-4" data-testid=`car-model-successor-${successor.id}`)
                - thumbnail = relationships.successor.thumbnails.get(successor.id)
                include ../nodes/thumbnail
                div(class="col-span-3")
                    a(class="inline-block font-bold text-lg my-2 underline hover:no-underline" href=`/car-models/${successor.id}`)
                        span(aria-label="name") #{successor.name}
                    - item = successor
                    - primaryProperties = relationships.successor.primary_properties
                    include ../nodes/primary-properties
