if predecessor
    section(data-testid="predecessor-section" class="mb-8")
        h2(class="text-2xl mb-2") Predecessor
        p(class="mb-4") The #[b #{carModel.name}] is the successor of the following car model:

        div(class="mb-4 bg-stone-100 rounded-md inset-shadow-sm" data-testid=`car-model-${item.id}`)
            div(class="grid grid-flow-col grid-cols-4 gap-4" data-testid=`car-model-successor-${predecessor.id}`)
                - thumbnail = relationships.predecessor.thumbnails.get(predecessor.id)
                include ../nodes/thumbnail
                div(class="col-span-3")
                    a(class="inline-block font-bold text-xl mt-3 underline" href=`/car-models/${predecessor.id}`)
                        span(aria-label="name") #{predecessor.name}
                    - item = predecessor
                    - primaryProperties = relationships.predecessor.primary_properties
                    include ../nodes/primary-properties
