if brands.length > 0
    section(data-testid="brand-section" class="mb-8")
        h2(class="text-2xl mb-2") Brands
        p(class="mb-4") The company #[b #{company.name}] is the owner of the following #{brands.length} brands:
        ul
            each brand in brands
                li(class="mb-4 bg-stone-100 rounded-md inset-shadow-sm" data-testid=`brand-${brand.id}`)
                    div(class="grid grid-flow-col grid-cols-4 gap-4")
                        - thumbnail = relationships.brands.thumbnails.get(brand.id)
                        include ../nodes/thumbnail
                        div(class="col-span-3")
                            a(class="inline-block font-bold text-lg my-2 underline hover:no-underline" href=`/brands/${brand.id}`)
                                span(aria-label="name") #{brand.name}
                            if brand.internal_code
                                span(aria-label="internal code")  (#{brand.internal_code})
                            - item = brand
                            - nodeProperties = relationships.brands.node_properties
                            include ../nodes/primary-properties
