extends ../../layouts/base/layout

block main
    h1(
        aria-label="brand name"
        class=`text-center
        mb-8
        text-3xl
        font-bold`) #{brand.name}
    div(class="grid grid-cols-2 gap-4 items-start")
        div
            include fact-sheet
        div
            include connected-car-models
            include connected-images

block footer
    p Footer area...

block debug
    div(class="absolute bottom-0 right-0 p-4 border-2 border-purple-200 text-purple-600")
        p Brand ##{brand.id} loaded
        p #{carModels.length} connected Car Model(s) loaded
        p #{images.length} connected Image(s) loaded
