if carModels.length > 0
    section(aria-label="car models")
        h2(class="text-2xl mb-4 text-center") Car Models
            span  (#{carModels.length})

        ul(
            class="grid sm-grid-cols-1 lg:grid-cols-2 gap-4 m-auto"
            aria-label="List of all Car Models that are attached to the Brand"
            data-testid="car-model-list"
        )
            each item in carModels
                li(class="mb-4 bg-stone-100 rounded-md inset-shadow-sm" data-testid=`car-model-${item.data.id}`)
                    div(class="grid grid-flow-col grid-cols-4 gap-4")
                        div(class="col-span-1 p-4 border-2 bg-orange-50")
                            div(class="aspect-16/9") IMG
                        div(class="col-span-3")
                            a(class="inline-block font-bold text-xl mt-3 underline" href=`/car-models/${item.data.id}`)
                                span(aria-label="name") #{item.data.name}
                            if item.data.internal_code
                                span(aria-label="internal code")  (#{item.data.internal_code})
                            ul
                                li(aria-label="built from" class="mt-4") Built from: #{item.data.built_from}
                                li(aria-label="built to" class="mb-4") Built to: #{item.data.built_to}

