if carModels.length > 0
    section(data-testid="car-model-section" class="mb-8")
        h2(class="text-2xl mb-2") Car Models
        p(class="mb-4") The brand #[b #{item.name}] has the following #{carModels.length} car models:
        ul
            each item in carModels
                li(class="mb-4 bg-stone-100 rounded-md inset-shadow-sm" data-testid=`car-model-${item.id}`)
                    div(class="grid grid-flow-col grid-cols-4 gap-4")
                        include ../nodes/thumbnail
                        div(class="col-span-3")
                            a(class="inline-block font-bold text-xl mt-3 underline" href=`/car-models/${item.id}`)
                                span(aria-label="name") #{item.name}
                            if item.internal_code
                                span(aria-label="internal code")  (#{item.internal_code})
                            - primaryProperties = relationships.car_models.primary_properties
                            include ../nodes/primary-properties
