include ../../shared/connected-nodes-section
- introTextParts = []
- if (brands.items.length === 1) introTextParts.push(`The company »${company.name}« is the owner of the following car brand.`)
- if (brands.items.length > 1) introTextParts.push(`The company »${company.name}« owns ${brands.items.length} different car brands.`)
- if (brands.items.length > 1) introTextParts.push(`The oldest one is from ${brands.oldestBrand.fields.founded} and the newest from ${brands.newestBrand.fields.founded}.`)
+connected-nodes-section(
    brands.items,
    'Brand',
    introTextParts.join(' '),
    'brand',
    brands.thumbnails,
    brands.node_properties,
)
