html
    head
        link(rel='stylesheet', href='/stylesheets/main.css')
        title #{title}

    body.bg-gray-100
        section(class="p-8 bg-amber-50")
            h1(class="mb-2 text-3xl font-bold underline") All #{nodeType}s

            ul.list-disc.list-inside
                each item in collection
                    li
                        a(href=`/brands/${item.id}`) #{item.name} (##{item.id})

        footer(class="bg-gray-800 text-blue-50 p-8")
            p Footer area...

        p(class="absolute bottom-0 right-0 p-4 border-2 border-purple-200 text-purple-600") Debug: #{collection.length} items loaded
