li(class="mb-4 bg-zinc-100 border border-zinc-200 rounded-md" data-testid=`${nodeType}-${nodeItem.id}`)
    div(class="grid grid-flow-col grid-cols-8 gap-4")
        include thumbnail
        div(class="col-span-5")
            a(class="inline-block font-sans text-lg mt-2 mb-1 underline decoration-zinc-300 hover:decoration-zinc-800" href=`/${nodeUrlPath}`)
                span(aria-label="name") #{itemHeadline || nodeItem.name}
            span(class="float-right pl-3 pb-2 pr-1 m-2 bg-white rounded-bl-full") #{icon(nodeType)}
            - item = nodeItem
            include primary-properties

// The headline should only be valid for this concrete item, but it is a global variable.
// Therefore, deleting it here, so the headline is not accidentally used for a different node somewhere else.
- itemHeadline = null
