mixin list-node-item(node, nodeType, itemHeadline, thumbnail)
    - nodeData = node.fields
    - thumbnail = thumbnail?.fields || nodeData
    - item = nodeData
    li(class="mb-4 last:mb-0 bg-white border border-zinc-200 rounded-xl" data-testid=`${nodeType}-${nodeData.id}`)
        div(class="grid grid-flow-col grid-cols-8 gap-4")
            include thumbnail
            div(class="col-span-5")
                a(class="inline-block font-sans text-lg mt-2 mr-4 underline decoration-zinc-300 hover:decoration-zinc-800" href=`/${canonical(nodeData.id, title(node))}`)
                    span(aria-label="name") #{title(node)}
                span(class="float-right pr-2 pt-1 select-none") #{icon(nodeType)}
                include primary-properties
