mixin pagination(nodeType, firstPage, previousPage, currentPage, nextPage, lastPage)
    nav(
        class="columns-7 text-center"
        aria-label="pagination"
    )
        ul
            li(class="rounded-full py-2 bg-white border-2 border-zinc-100 outline-2 outline-white hover:border-lime-200")
                if currentPage > 2
                    a(
                        aria-label="first page"
                        rel="first"
                        class="block"
                        href=`/${nodeTypePath(nodeType)}`
                    ) «
                else
                    span(class="text-zinc-100") –

            li
                span(class="text-zinc-100") –

            li(class="rounded-full py-2 bg-white border-2 border-zinc-100 outline-2 outline-white hover:border-lime-200")
                if currentPage > 1
                    a(
                        aria-label="previous page"
                        rel="prev"
                        class="block"
                        href=`/${nodeTypePath(nodeType)}?page=${previousPage}`
                    ) #{previousPage}
                else
                    span(class="text-zinc-100") –

            li(class="rounded-full py-2 border-2 border-zinc-100" aria-current="page")
                span #{currentPage}

            li(class="rounded-full py-2 bg-white border-2 border-zinc-100 outline-2 outline-white hover:border-lime-200")
                if currentPage < lastPage
                    a(
                        aria-label="next page"
                        rel="next"
                        class="block"
                        href=`/${nodeTypePath(nodeType)}?page=${nextPage}`
                    ) #{nextPage}
                else
                    span(class="text-zinc-100") –

            li
                span(class="text-zinc-100") –

            li(class="rounded-full py-2 bg-white border-2 border-zinc-100 outline-2 outline-white hover:border-lime-200")
                if currentPage + 1 < lastPage
                    a(
                        aria-label="last page"
                        rel="last"
                        class="block"
                        href=`/${nodeTypePath(nodeType)}?page=${lastPage}`
                    ) »
                else
                    span(class="text-zinc-100") –
