ul(data-testid="prime-data" class="mb-2")
    each prop in nodeProperties
        if prop.is_primary && prop.name !== "name" && item[prop.name] && !prop.name.endsWith('_unit') && prop.name !== 'engine_configuration'
            li(class="text-xs inline-block pl-1 pr-2 border-l-3 border-lime-500")
                if prop.name === 'cylinders'
                    b Engine:
                    span  #{item['engine_configuration']}#{item['cylinders']}
                else
                    b #{prop.label}:
                    if item[prop.name + '_unit']
                        span  #{item[prop.name]} #{item[prop.name + '_unit']}
                    else
                        span  #{item[prop.name]}
