mixin sort(nodeType, sortByProperty, sortDirection)
    h2(class="text-xl text-center") Sort nodes by
    ul(class="mt-4 text-center")
        each prop in node_properties
            li(class="flex px-2 py-1 mb-2 bg-white border-2 border-zinc-100 outline-2 outline-white rounded-xl hover:border-lime-200")
                a(class="" href=`/${nodeTypePath(node_type)}?sort_by_property=${prop.name}&sort_direction=desc`) ⬇️
                span(class=`grow ${prop.name === sortByProperty ? 'font-bold' : ''}`) #{prop.label}
                a(class="" href=`/${nodeTypePath(node_type)}?sort_by_property=${prop.name}&sort_direction=asc`) ⬆️
        li(class="flex mt-4 px-2 py-1 bg-white border-2 border-zinc-100 outline-2 outline-white rounded-xl hover:border-lime-200")
            a(class="grow" href=`/${nodeTypePath(node_type)}`) Reset Sorting
