li(class="p-4 bg-zinc-100 border-1 border-zinc-200 rounded-md" data-testid=`${nodeType.name}`)
    span(class="ml-2 mb-2 float-right text-5xl") #{nodeType.icon}
    a(class="inline-block font-bold text-lg mb-2 underline hover:no-underline" href=`${nodeType.overview_page_path}`)
        span #{nodeType.label}
    p There are #{nodeType.count} #{nodeType.label} in the More Cars database.
